/* colors */

:root {
  --whitesmoke: #f5f5f5;
  --gray: #808080;
  --white: #ffffff;
  --red: #ff0000;
  --blue: #4285f4;
  --lightBlue: #6296e9;
}

.loader{
      width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* public layout section*/
.public__layout {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.login__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__header > img {
  width: 30%;
  height: 20vh;
}

.login__header > h1,
.create__an__account__body > h1 {
  margin-top: -30px;
  font-size: 45px;
  font-weight: 200;
  padding-bottom: 20px;
}

.login__header > h2 {
  font-size: 22px;
  font-weight: 200;
  padding-bottom: 20px;
}

.login__feild {
  width: 45%;
  min-height: 38%;
  display: flex;
  justify-content: center;
  background-color: var(--whitesmoke);
  border-radius: 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.24);
  margin-bottom: 4vh;
}
.login__feild > form {
  display: flex;
  height: 30vh;
  flex-direction: column;
  align-items: center;
}

.login__feild > form > .login__feild__avatar {
  height: 40%;
  width: 40%;
  margin-bottom: 2vh;
  margin-top: 3vh;
}

.login__feild > form > input,
.create__an__account__body > input {
  padding: 8px;
  margin-bottom: 2vh;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 17px;
}

.login__feild > form > button,
.create__an__account__body > button,
.sent__email__body > button {
  padding: 8px;
  margin-bottom: 2vh;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--blue);
  font-size: 17px;
}

.login__feild > form > button:hover,
.create__an__account__body > button:hover,
.sent__email__body > button:hover {
  background-color: var(--lightBlue);
}

.create__an__account {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  border-radius: 10px;
}

.create__an__account__body {
  height: 80vh;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--whitesmoke);
}
.create__an__account__body > h1 {
  padding: 50px 100px 50px 100px;
  margin-bottom: 50px;
  border-bottom: 1px solid var(--gray);
}

.create__an__account__body {
  display: flex;
  flex-direction: column;
}

.create__an__account__body .MuiButton-containedPrimary {
  background-color: var(--blue);
}

/* private layout  section */
/* header section */

.private__layout {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--whitesmoke);
  top: 0;
  z-index: 1;
  padding: 5px;
  background-color: var(--white);
  position: sticky;
}

.header__left {
  display: flex;
  align-items: center;
  flex: 0.2;
}

.header__left > img {
  width: "109px";
  height: "40px";
}

.header__middle {
  flex: 0.5;
}

.header__searchbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--whitesmoke);
  border-radius: 5px;
  padding: 3px;
}
.header__searchbar > .MuiSvgIcon-root {
  color: var(--gray);
}

.header__searchbar > input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 10px;
}

.header__right {
  display: flex;
  align-items: center;
  flex: 0.2;
  margin-left: 150px;
}

/* app-body section */
.app__body {
  margin-top: 20px;
  display: flex;
}

/* sidebar section */

.sidebar {
  flex: 0.2;
  max-width: 350px;
  height: 100vh;
}

.sidebar__option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  padding: 5px;
}

.sidebar__option > .MuiSvgIcon-root {
  color: var(--gray);
}

.sidebar__option > h3 {
  font-size: 12px;
  font-weight: 400;
}

.sidebar__option:hover {
  background-color: var(--whitesmoke);
  color: var(--red);
  cursor: pointer;
}

.sidebar__option:hover > p {
  font-weight: 600;
}

.sidebar__options__Container {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--whitesmoke);
}

.sidebar__Meet,
.sidebar__Hangouts {
  padding-top: 20px;
  border-bottom: 1px solid var(--whitesmoke);
}
/* .meet__options{
    display: flex;
} */
.sidebar__Meet > h3,
.sidebar__Hangouts > h3 {
  font-weight: 400;
  text-align: center;
}

.hangouts__options {
  display: inline;
}

/* email  section*/

.email__Container {
  flex: 1;
}
.email__tools__header {
  display: flex;
  flex: auto;
  justify-content: space-between;
  padding: 0px 10px;
}

.email__list {
  background-color: var(--whitesmoke);
  height: 100vh;
  padding: 20px;
}

.email__list__header {
  padding: 10px 40px;
  cursor: pointer;
  border: 1px solid var(--whitesmoke);
}

.email__list__header_option > h3 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
}
.email__list__header:hover {
  box-shadow: 4px 7px 4px -4px rgba(0, 0, 0, 0.24);
}

.email__row__container {
  background-color: var(--white);
  height: 100vh;
  box-shadow: 0px 7px 5px 4px rgba(0, 0, 0, 0.24);
}

.email__row {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.email__row__left__section {
  display: flex;
  align-items: center;
}

.email__row__left__section > h3 {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 20px;
}
.email__row__left__section > .MuiSvgIcon-root {
  color: var(--gray);
}

.email__row:hover {
  cursor: pointer;
  box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.24);
}

.email__header__options {
  display: flex;
}

.email__list__header_option {
  display: flex;
}

.selected { 

}

.sent__email {
  /* display: flex; */
  background-color: var(--whitesmoke);
  max-width: 30%;
  min-height: 400px;
  max-height: 600px;
  border-radius: 10px;
  position: sticky;
  bottom: 20px;
  margin-top: -330px;
  left: 66%;
}

.sent__email__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px;
  border-bottom: 1px solid black;
  color: var(--gray);
  font-size: 16px;
  font-weight: 600;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.sent__email__body {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sent__email__body > input {
  padding: 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.sent__email_description {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 20px;
}

.sent__email__body > button {
  margin-top: 30px;
}
